
@{
                ViewBag.Title = "Index";
}

<h2>Clarinet</h2>
<img src="~/Content/Images/clarinet-vector-12.png" />
@Html.ActionLink("New", "New", "Clarinet") | 
@Html.ActionLink("Used", "Used", "Clarinet")

