
@{
    ViewBag.Title = "Index";
}

<h2>Trombone</h2>
<img src="~/Content/Images/trombone-vector-black-and-white-2.png" />
@Html.ActionLink("New", "New", "Trombone") |
@Html.ActionLink("Used", "Used", "Trombone")

