
@{
    ViewBag.Title = "New";
}

<div class="jumbotron">
    <img src="~/Content/Images/saxophone.png" />
    <h1>New Saxophone -- $42 a month</h1>

    <h2>Rent to own</h2>
    <p>
        Once you have rented your new saxophone for 18 months, it's yours!
        <br />
        <br />
        If your return it at any time before 3 months since your rental date, we ask that you pay a $200 re-stocking fee.
        If you return it any time between 3 and 18 months, you forfeit any equity in the instrument.
    </p>
</div>
